



.boardmain_section{
    max-width: 1300px;
    margin: 80px auto;
    padding-top: 45px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
}

.board_detail{
    width: calc(80% - 50px);
    display: inline-block;
}
/*
.board_title{
    margin: 100px 0;
}
*/
.inquiry_btn{
    background-color: black;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 0.8rem;
    float: right;
}

.board_styletable{
    border: 1px solid black;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.board_delbtn{
    background-color: #ffffff;
    border-color: grey;
    border: 1px;
    border-radius: 7px;
    cursor: pointer;
}
.board_styletable_tb{
    height: 80px;
}
.rev_searchtop{
    margin-top: 20px;
    background-color: #efefef;
    height: 120px;
    padding-left: 10px;
    padding-top: 10px;
}
