body{
    margin: 0;
    padding: 0;
}
div{
    margin: 0;
    padding: 0;
}
.orderlistmg{
    border: 1px solid black;
    width: 100%;
    text-align: center;
    align-items: center;
    border-collapse: collapse;
}
.orderlistmg > thead > tr{
    height: 60px;
    border-bottom: 1px solid grey;
}
.mg_search{
    padding: 15px 0 15px 0;
    display: flex;
}
.mg_searchform{
    display: flex;
    text-align: center;
}
.mg_searchtxt{
    padding: 0px 10px 0 10px;
    height: 25px;
    width: 200px;
}