.order_datail{
    max-width: 1300px;
    margin: 80px auto;
    padding-top: 45px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
}
.orderh2{
    color: rgb(81, 79, 79);
}
.od_his_search{
    padding: 15px 0 15px 0;
    display: flex;
}
.od_his_searchform{
    display: flex;
    text-align: center;
}
.od_his_searchip{
    padding: 0px 10px 0 10px;
    height: 25px;
    width: 200px;
}
.order_history{
    /*margin: 0px 100px 0px 100px;*/
    width: 100%;
    border-radius: 1px;
    border-color: black;
    border: 3px solid;
    /*border-top: 1px;*/
    border-left: none;  
    border-right: none;
    border-bottom: none;
    border-collapse: collapse;
    text-align: center;
}
.order_history > tbody{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.or_no{
    width: 40px;
    height: 60px;
    font-weight: bold;
    background-color: rgb(222, 222, 222);
}
.or_day{
    width: 120px;
    height: 60px;
    font-weight: bold;
    background-color: rgb(222, 222, 222);
}
.or_num{
    width: 100px;
    height: 60px;
    font-weight: bold;
    background-color: rgb(222, 222, 222);
}
.or_name{
    width: 550px;
    height: 60px;
    font-weight: bold;
    background-color: rgb(222, 222, 222);
}
.or_count{
    width: 70px;
    height: 60px;
    font-weight: bold;
    background-color: rgb(222, 222, 222);
}
.or_price{
    width: 80px;
    height: 60px;
    font-weight: bold;
    background-color: rgb(222, 222, 222);
}
.or_member{
    width: 100px;
    height: 60px;
    font-weight: bold;
    background-color: rgb(222, 222, 222);
}
.order_list{
    height: 100px;
}
.go_review{
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    width: 80px;
    height: 30px;
}
.go_deliver{
    background-color: white;
    font-weight: bold;
    border: 1px solid grey;
    width: 80px;
    height: 30px;
}

.order_product{
    text-align: center;
    align-items: center;
}

.order_productbox{
    display: flex;
    align-items: center;
}
.order_productimg{
    padding: 20px 20px 20px 100px;
}

.order_productName{
    text-align: center;
}
