
.m10{
    margin: 10;
}
.m20{
    margin: 20;
}
.w10{
    width: 10;
}
.pr100{
    padding-right: 100px;
}
.pb100{
    padding-bottom: 100px;
}
.pr200{
    padding-right: 200px;
}
.wid10{
    width: 10px;
}
.wid20{
    width: 20px;
}
.wid30{
    width: 30px;
}
.wid40{
    width: 40px;
}
.wid50{
    width: 50px;
}
.wid60{
    width: 60px;
}
.wid70{
    width: 70px;
}
.wid80{
    width: 80px;
}
.wid90{
    width: 100px;
}
.wid100{
    width: 100px;
}
.wid200{
    width: 200px;
}