

div{
    display: block;
    unicode-bidi: isolate;
    padding: 0;
    margin: 0;
}
.codiwrap{
    min-height: 800px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.codicontainer{
    width: 100%;
    zoom: 1;
    position: relative;
    margin: 0 auto;
    padding-top: 120px;
    font: inherit;
    vertical-align: baseline;
}
.codicontents{
    max-width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 500px;
    float: none;
}


/*========================================*/


.top_div{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}
.top_div_img{
    width: 100%;
    height: 400px;
}

.filterback{
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 배경을 어둡게 처리 */
    
    align-items: center;
    justify-content: center;
    z-index: 1000; /* 필터창이 가장 위에 표시되도록 설정 */
}
.filterback.active {
    display: flex; /* active 클래스가 있을 때 보이도록 변경 */
}
.filtersection{
    background-color: #fff;
    max-width: 750px;
    margin: 0px auto;
    padding: 20px 40px 20px 40px;
}
.filter_canclebtn{
    font-size: 20px;
    border: none;
    background-color: #fff;
    float: left;
}
.filtermain{
    margin: 15px 0 15px 0px;
}

.filter_box{
    display: flex;
    padding: 0 15px;
    align-items: center;
    max-width: 1510px;
    margin: 0 auto;
    box-sizing: border-box;
}
.filter_btn{
    background-color: #fff;
    margin-right: 20px;
    /*border: 1px solid #757575;
    padding: 3px;
    border-radius: 7px; */

    padding-right: 10px;
    border-right: 2px solid black;
    border-left: none;
    border-top: none;
    border-bottom: none;
}
.flitericonimg{
    width: 40px;
    height: 40px;
}
.keywordload{ /*선택한 라디오버튼 큰 틀*/
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.applied_filter { /* 선택된 라디오버튼의 내용 css */
    margin-right: 10px; /* 각 필터 항목 간에 10px의 간격을 추가 */
    padding: 5px;       /* 필터 항목 내부에 약간의 여백을 추가 */
    /*background-color: #f0f0f0;*/ /* 선택사항: 필터 배경색 추가 */
    border-radius: 4px; /* 선택사항: 약간의 둥근 모서리 추가 */
    font-weight: bold;
}

.filter_tit{
    font-weight: bold;
    color: #757575;
    padding-bottom: 10px;
}
.filter_chobox{
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 12px 32px;
}
.filterla{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
}
.filter_savebtn{
    background-color: black;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    padding: 8px 15px 8px 15px;
    width: 200px;
}

/*========================================*/
.middle_div{
    margin-top: -20px;
    margin: 0 0 27px;
}
.codi_title{
    max-width: 1510px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto 115px;
    text-align: left;
    border: 0;
    word-break: keep-all;
    line-height: 1.3;
}
.codi_title_text{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    padding-top: 10px;
}

/*========================================*/
.bottom_div{
    margin-bottom: 120px;
}

.stylecodi_list{
    max-width: 1510px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.ranking_list{
    column-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    text-align: left;
    font-size: 0;
    line-height: 0;
    padding: 0;
}
.ranking_list >li{
    width: calc((100% - 40px) / 3);
    margin-bottom: 100px;
    display: inline-block;
    margin: 0 0 18px;
    color: #757575;
    vertical-align: top;
}
.codithumbnail{
    margin: 0 0 20px;
    background: none;
    text-align: center;
    width: auto;
    position: relative;
}
.list_top_label{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    min-width: 1em;
    padding: 15px;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    font-size: 20px;
    background: #000;
    color: #fff;
    z-index: 1;
}
.list_img > a{
    position: relative;
    overflow: hidden;
    display: block;
    text-decoration: none;
}
.list_img > a > img{
    transition: all .5s;
    border: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    vertical-align: middle;
}
.codithumbnailinfo{
    margin: 0;
    text-align: left;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
}
.spec{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 12px 0 0;
    list-style: none;
    padding: 0;
}
.simple{
    margin-right: 1.5em;
    font-size: 16px;
    color: #5a5a5a;
    margin-bottom: 2px;
    line-height: 16px;
    text-align: left;
    margin: 0 0 14px;
}
.simple2{
    font-size: 16px;
    color: #5a5a5a;
    margin-bottom: 2px;
    line-height: 16px;
    text-align: left;
    margin: 0 0 14px;
}